<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dialog</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-show="dialogOpen">
        <form name="myForm">
        <input type="text" class="textbox" ng-model="inputA.value" name="inputA" ng-model-options="{ getterSetter: true }"/>
        <input type="text" class="textbox" ng-model="inputB.value" name="inputB" ng-model-options="{ getterSetter: true }"/>
        <input
          type="text"
          class="textbox"
          ng-model="inputC.value"
          ng-required="true"
          placeholder="Required input"
          name="inputC"
          ng-model-options="{ getterSetter: true }"
        />
        <div class="btn-group">
          <button class="btn" ng-click="save(myForm)">Save</button>
          <button class="btn" ng-click="close()">Close</button>
        </div>
    </form>
      <div ng-show="result"><h3 class="result">{{result}}</h3></div>
    </div>
  </body>
</html>
